.Link:hover {
    color: rgb(204, 54, 0);
  }

h1 {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.price {
  color: rgb(0, 189, 0);
  font-weight: 900;
}

  .bdefault {
    border-radius: 10px;
    width: 100px;
    height: 22px;
    border: none;
  }
  .custom1 {
    background-color: rgb(255, 216, 20);
    margin-right: 10px;
  }

  .custom1:hover {
    background-color: rgb(255, 205, 1);
  }

  .custom1:active {
    opacity: 0.6;
  }
  
  .custom2 {
    background-color: rgb(255, 174, 0);
  }

  .custom2:hover {
    background-color:rgb(255, 150, 0) ;
  }

  .custom2:active {
    opacity: 0.6;
  }
